<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.achers.ascmake">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".arout.AroutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".web.WebsActivity"
            android:label="@string/title_activity_webs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".web.WebAsActivity" />
        <activity android:name=".RecyviewTxActivity" />
        <activity android:name=".web.WebChonzhiAcvitity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="shopal-c" />
            </intent-filter>
        </activity>
        <activity android:name=".PopWin" />
        <activity
            android:name=".BallTocherActivity"
            android:label="@string/title_activity_ball_tocher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".supertextviewactivity.SuperTextActivity" />
        <activity android:name=".supertextviewactivity.MaterialDialogsActivity" />
        <activity android:name=".bamboy.BamActivity" />
        <activity android:name=".animator.AnimatorActivity" />
        <activity android:name=".view.requestbutton.RequestButtonActivity" />
        <!-- <activity android:name=".proxys.web.ProxyActivity" /> -->
        <activity android:name=".proxys.web.ProxyWebActivity" />
        <!-- <activity android:name=".jdpay.JDPayActivity"></activity> -->

        <activity
            android:name="com.jdpaysdk.author.AuthorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- jdpauth是固定的后面的数字是appId -->
                <!-- 此处的123456789测试使用的，如果用户已经注册需要使用自己注册的appId -->
                <data android:scheme="jdpauthb9f8661ee5a71f5f0893930d29fb3267" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jdpaysdk.author.browser.BrowserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".components.ComponentActivity"></activity> -->
        <activity android:name=".components.beatweb.BaseActivity" />
        <activity android:name=".components.beatweb.BaseWebActivity" />
        <!-- <activity android:name=".arout.AroutActivity"></activity> -->
        <activity android:name=".MainActivity" />
        <activity android:name=".recyclers.RecyclerMainActivity" />
        <activity android:name=".calendar.CalendarViewMainActivity" />
        <activity android:name=".slidemenu.SlideMenuActivity"
            android:theme="@style/AppThemes"></activity>
    </application>

</manifest>