<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.achers.ascmake">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appComponentFactory="app"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:allowBackup,android:appComponentFactory"
        tools:targetApi="m">
        <activity android:name=".notifysetting.CheckNotifyActivity"></activity>
        <activity android:name=".room.RoomActivity" />
        <activity android:name=".ffmpeg.FFmpegActivity" />
        <activity android:name=".recyclerck.CkRecyclerActivity" />
        <activity android:name=".notification.NotificationTextActivity" />
        <activity android:name=".vlayouts.VLayoutDemo" />
        <activity android:name=".arout.AroutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".web.WebsActivity"
            android:label="@string/title_activity_webs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".web.WebAsActivity" />
        <activity android:name=".RecyviewTxActivity" />
        <activity android:name=".web.WebChonzhiAcvitity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="shopal-c" />
            </intent-filter>
        </activity>
        <activity android:name=".PopWin" />
        <activity
            android:name=".BallTocherActivity"
            android:label="@string/title_activity_ball_tocher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".supertextviewactivity.SuperTextActivity" />
        <activity android:name=".supertextviewactivity.MaterialDialogsActivity" />
        <activity android:name=".bamboy.BamActivity" />
        <activity android:name=".animator.AnimatorActivity" />
        <activity android:name=".view.requestbutton.RequestButtonActivity" /> <!-- <activity android:name=".proxys.web.ProxyActivity" /> -->
        <activity android:name=".proxys.web.ProxyWebActivity" /> <!-- <activity android:name=".jdpay.JDPayActivity"></activity> -->
        <activity
            android:name="com.jdpaysdk.author.AuthorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- jdpauth是固定的后面的数字是appId -->
                <!-- 此处的123456789测试使用的，如果用户已经注册需要使用自己注册的appId -->
                <data android:scheme="jdpauthb9f8661ee5a71f5f0893930d29fb3267" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jdpaysdk.author.browser.BrowserActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".components.ComponentActivity"></activity> -->
        <activity android:name=".components.beatweb.BaseActivity" />
        <activity android:name=".components.beatweb.BaseWebActivity" /> <!-- <activity android:name=".arout.AroutActivity"></activity> -->
        <activity android:name=".MainActivity" />
        <activity android:name=".recyclers.RecyclerMainActivity" />
        <activity android:name=".calendar.CalendarViewMainActivity" />
        <activity
            android:name=".slidemenu.SlideMenuActivity"
            android:theme="@style/AppThemes" />
        <activity android:name=".seepic.SeePhotoActivity" />
        <activity android:name=".lineLayout.LineMainActivity" />
        <activity android:name=".vlayouts.vdemo.ExVlayoutActivity" />
        <activity android:name=".tabs.TabLayoutMain" />
        <activity android:name=".tabs.tabEx.TabLayoutMainEX" />
        <activity android:name=".shoopping.ShoppingMainActivity" />
        <activity
            android:name=".collapsingLayout.CollapsingToolbarLayoutTextActivity"
            android:theme="@style/AppThemes" />
        <activity android:name=".cameravideo1.CameraMainActivity" />
        <activity
            android:name=".cameravideo1.RecordVideoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.achers.ascmake.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".cameravideo2.Camera2MainActivity" />
        <activity android:name=".cameravideo2.MyCameraActivity" />
        <activity
            android:name=".cameravideo2.Camera2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".gangedrecyclerview.MainActivity" />
        <activity android:name=".ninegridview.NineMainActivity" />
        <activity android:name=".circlefriends.main.MomentListActivity" />
        <activity android:name=".videocompressor.VideoCompressorActivity" />
        <activity android:name=".videocompressor.PreviewActivity" />
        <activity
            android:name=".jzvideo.JzVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
    </application>

</manifest>